.app {
  display: grid;
  place-items: center;
  background-color: #f2f7d0;
  height: 100vh;
}
.app__body {
  display: flex;
  margin-top: 5px;
  background-color: #f6f6f6;
  height: 95vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
}
